
.article-info{
    padding:0px 20px 0px 20px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

.article-author-img{
    min-width:50px;
    max-width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.article-img{
    width: 100%;
    border-radius: 15px;
}