

.writing-header{
  width: 100%;
  display: flex;
 justify-content: space-between;
 height:10vh;
}
.registration-link-home{
  font-weight: 100;
}
.header-user-features-write{
  display: flex;
  align-items: center;
 
}
.write-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.write-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  align-items: center;
  padding-top: 40px;
  border: 1px solid rgb(197, 195, 195);
  border-radius: 15px;

}

.write-page-input {
  display: flex;
  width: 60%;
  margin-bottom: 30px;
  padding: 0px;
  margin-right: 0px;
  border: none;
  font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman",
    Times, serif;

}
.write-page-input:focus{
  outline: none;
  border:none;
}
@media (max-width: 768px){
  .main-page-input{
    width: 100%;
  }
  .write-form{
    width: 100%;
  }

}

.title-input {
  font-size: 50px;
}

.text-body {
  height: 40%;
  padding:5px;
}
.text-body::placeholder {
  position: absolute;
  top: 5px;
}


input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #acaf7f;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
.post-button{
  margin-top: 50px;
  border:none;
  padding:5px;
  width: 300px;
  height: 30px;
  border-radius: 15px;
}
.post-button:hover{
  cursor:pointer;
}
.post-button.active {
  background-color: #91b2eb; /* Active background color */
}

.drop-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.image-preview {
  max-width: 100px;
  max-height: 100px;
  margin-left: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.off-screen-menu{
 
  height:50px;
  max-width: 150px;
  position:fixed;
top:45px;
  right:-150px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;
  text-align: center; */
  font-size: 1.5rem;
  transition: .3s ease;
  
}
.off-screen-menu.active{
  right:20px;
}
li{
  list-style-type: none;
  font-size: 1rem;
  color: #545151;

}
li:hover{
  cursor: pointer;
}
ul{
  
  
}