/* .post-section {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;

  border: 1px solid rgb(242, 242, 242);
  background-color: rgba(255, 255, 255, 0.57);
  border-radius: 15px;
  
  border: 1px solid  rgb(192, 247, 229);
  padding:20px;
}
.post-title{
 font-size: 2.5em;
 margin-top: 10px;
 margin-bottom:5px;
 border-bottom: 2px solid rgb(242, 242, 242);
 width: 100%;
 white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.user-info{
display: flex;
margin-bottom:5px;

} */
 .post-text-div{
  width: 100%;
 }
.post-text{
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}
.post-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100%; /* Make the section take full width */
  max-width: 400px; /* Set a maximum width */
}

.post-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem 0;
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis to indicate truncated text */
  white-space: nowrap; /* Prevent the text from wrapping */
  width: 100%; /* Make the title take full width of its container */
}

.user-info {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  width: 100%; /* Make user-info take full width */
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .post-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .post-title {
    font-size: 1rem;
  }
}























.post-image{
  border-radius: 15px;
  width: 90%;
  aspect-ratio: 1 / 1;
}
.profile-picture-post{
margin-right: 15px;
width: 30px;
height: 30px;
border-radius: 50%;
align-self: center;
}

.Article-link{
text-decoration: none;
}
.Article-link:hover{
  text-decoration: underline;
  cursor:pointer;
}



.bottom-div{
  display: flex;
  
  width: 100%;
}

.post-date{
width: 300px;
}

.post-btn {
    text-align: center;
    background-color: rgb(237, 244, 241);
    padding: 5px;
    
    width: 100px;
    align-self: flex-end;
    border: none;
    border-radius: 10px;
    
    margin-bottom: 10px;
    margin-left: 35%;
    /* padding: 10px 20px; */
    font-size: 16px;
    background-color: rgb(237, 244, 241);
    color: rgb(91, 88, 88);
    cursor: pointer;
    transition: transform 0.1s ease;
  }
  .post-btn:active{
    transform: scale(0.95);
  }
  