.login-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(244, 26, 26);
  width: 420px;
  height: 320px;
  border-radius: 15px;
 
}
.loginForm {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  border: none;
  border-radius: 15px;
  padding: 10px;
align-items: center;
justify-content: center;

}
.login-label{
    text-align: center;
    margin-bottom: 2px;
    width: 204px;
}

.login-btn-modal {
  width: 220px;
  align-self: center;
  margin-top: 20px;
  height: 30px;
  border: 1px solid rgba(210, 241, 255, 0.7);
  background-color: rgb(210, 241, 255);
  border-radius: 15px;
}
.login-btn-modal:hover{
  cursor:pointer;
}
.login-input {
  
  width: 200px;
  border-radius: 15px;
  height: 30px;
  border: 1px solid rgb(226, 226, 226);
  padding-left:15px;
}
